{{> head }}
{{> navbar }}
              
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Bienvenido, {{nombre}}!</h1>
                <p class="lead">Sistema de gestión de creditos</p>
            </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-10 offset-1">
                <div class="card-deck">
                    <div class="card">
                        <img class="card-img-top" src="assets/img/Tucuman.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Ultimos cobros en Tucumán</h5>
                            <p class="card-text">Alvaro/Ramiro Morales -> $800</p>
                            <p class="card-text">Mariano/Juan Perez -> $1000</p>
                            <button type="button" class=" btn btn-primary float-right" >Ver detallado</button>
                        </div>
                        
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="assets/img/Catamarca.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Catamarca</h5>
                            <p class="card-text">Alvaro/ Sosa Elisa -> $2000</p>
                            <p class="card-text">Luciano/ Cristina -> $300</p>
                            <button type="button" class=" btn btn-primary  float-right">Ver detallado</button>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
      </div>

{{> footer }}